.jumbotron {
  padding-top: 6rem;
  background-color: #12222222;
}
#projects {
  background-color: #12222222;
}
#about {
  padding-top: 5rem;
}
#projects {
  padding-top: 5rem;
}
#contact {
  padding-top: 5rem;
}
