.jumbotron {
  padding-top: 6rem;
  background-color: #212121;
}
#projects {
  background-color: #212121;
}
#about {
  padding-top: 5rem;
  color: aliceblue;
}
#projects {
  padding-top: 5rem;
  color: aliceblue;
}
#PrivacyPolicy {
  padding-top: 5rem;
  color: aliceblue;
}
#terms {
  padding-top: 5rem;
  color: aliceblue;
}
#home {
  color: #fff;
}
.body {
  background-color: #0a0a0a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.artikel {
  color: #f2f2f2;
  padding: 3rem;
  background-color: #212121;
  border-radius: 2rem;
}
.card-text {
  text-align: center;
}
#footer {
  font-family: verdana;
}
