.jumbotron {
  padding-top: 6rem;
  background-color: #12222222;
}
#projects {
  background-color: #12222222;
}
#about {
  padding-top: 5rem;
}
#projects {
  padding-top: 5rem;
}
#pp {
  padding-top: 5rem;
}
#tnc {
  padding-top: 5rem;
}
.artikel {
  padding: 4rem;
}
.card {
}
